body, html {
    height: 100%;
    margin:0px;
    padding: 0px;
}

.parallax {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.2), 
        rgba(0, 0, 0, 0.5)),
        var(--bg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aquamarine;

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    color: white;
    text-shadow: 
        -1px 1px 0 black,
        -1px -1px 0 black,  
        1px -1px 0 black,
        1px 1px 0 black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4rem;
}

.parallax p {
    margin: 0;
}

.top-image {
    --bg: url("https://static.wikia.nocookie.net/yugioh/images/d/d8/Live%E2%98%86TwinsKisikil-Lilla-mat.png/revision/latest?cb=20200928223811")
}

.bottom-image {
    --bg: url("https://i.redd.it/1j5f2hk83ot51.jpg")
}